{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="card card-1">
            <p class="card-title">Опрос:</p>
            <hr/>
            {{ poll.question }}
        </div>
        <h3 class="text-center my-3">Варианты ответов:</h3>
        <div class="choices">
            <div class="row">
                {% for i in choices %}
                    <div class="col-sm-4 my-2">
                        <div class="card card-1">
                            <div class="card-body">
                                <p class="card-text">{{ i.variation }}</p>
                                <div class="div">
                                    <a href="{% url 'choice_edit_url' i.pk %}" class="btn btn-success">Изменить</a>
                                    <a href="{% url 'choice_delete_url' i.pk %}" class="btn btn-danger">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="plus-button">
        <a href="{% url 'choice_create_url' pk=poll.pk %}" class="text-decoration-none">+</a>
    </div>
{% endblock %}