{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for i in object_list %}
                <div class="col-sm-4 my-2">
                    <div class="card card-1">
                        <div class="card-body">
                            <p class="card-text">{{ i.question }}</p>
                            <hr/>
                            <div class="text-center">
                                <a href="{% url 'poll_details_url' i.pk %}" class="btn btn-primary">Детали</a>
                                <a href="{% url 'poll_edit_url' i.pk %}" class="btn btn-success">Изменить</a>
                                <a href="{% url 'poll_delete_url' i.pk %}" class="btn btn-danger">X</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="plus-button">
        <a href="{% url 'poll_create_url' %}" class="text-decoration-none">+</a>
    </div>
{% endblock %}